<template>
  <div class="sign-up">
    <p>Let's create a new account !</p>
    <input type="text" v-model="email" placeholder="Email"><br>
    <input type="password" v-model="password" placeholder="Password"><br>
    <button v-on:click="signUp" :disabled="!memberIsFound">Sign Up</button>
    <strong>{{ searchIndicator }}</strong><br>
    <span>or go back to <router-link to="/login">login</router-link>.</span>
  </div>
</template>

<script>
  import firebase from 'firebase'
  import { debounce } from "lodash"

  export default {
    name: 'signUp',
    data: function() {
      return {
        email: '',
        password: '',
        isCalculating: false,
        searchQueryIsDirty: false,
        memberIsFound: false
      }
    },
    computed: {
    searchIndicator: function () {
      if (this.isCalculating) {
        return '⟳ Fetching new results'
      } else if (this.searchQueryIsDirty) {
        return '... Typing'
      } else {
        return ''
      }
    }
  },
  watch: {
    'email': function () {
      this.searchQueryIsDirty = true
      this.checkIfMemberExist()
    }
  },
    methods: {
      checkIfMemberExist: debounce(function () {
      this.isCalculating = true

      var self = this;
      setTimeout(function () {
        self.isCalculating = false
        self.searchQueryIsDirty = false
        
        var selfself = self;

        self.memberIsFound = false

          firebase.database().ref().once('value').then(function(snapshot) {
              snapshot.forEach(function(userSnapshot) {
                  var memberProfile = userSnapshot.val();
                  // console.log('username: ', username['Email']);
                    if (memberProfile['Email'] == self.email){
                      console.log('user exists');
                      console.log("memberProfile: ", memberProfile);
                      console.log('u', self);
                      self.memberIsFound = true
                    }else{
                      // console.log('user does not exists');
                      // self.memberIsFound = false
                    }
              });
          });
      }.bind(this), 1000)
    }, 500)
    ,
      signUp: function() {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
          (user) => {
            this.$router.replace('hello')
          },
          (err) => {
            alert('Oops. ' + err.message)
          }
        );
      }
    }
  }
</script>

<style scoped>
  .signUp {
    margin-top: 40px;
  }
  input {
    margin: 10px 0;
    width: 20%;
    padding: 15px;
  }
  button {
    margin-top: 10px;
    width: 10%;
    cursor: pointer;
  }
  span {
    display: block;
    margin-top: 20px;
    font-size: 11px;
  }
</style>
